[core]
  excludesfile = /Users/ryoichi/.gitignore_global
[user]
  name = fr
  email = ryoichi.fujio@gmail.com
[commit]
  template = /Users/ryoichi/.stCommitMsg
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pc = !git push origin `git rev-parse --abbrev-ref HEAD`
  s = !git status
  c = !git checkout
  g = !git graph
  b = !git branch
  st = status
  f = fetch --prune
  co = checkout
  b = branch
  d-merged = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = /Users/ryoichi.fujio/.gitignore_global
